---
layout: base.njk
title: Doc
---

<ul>
    {% for page in collections.docs %}
    <li>
        <a href="{{ page.url }}">
        {{ page.data.title }}
        </a>
    </li>
    {% endfor %}
</ul>
